address {
  margin: 0;
  padding: 0;
}
footer {
  background: url("../img/footer.gif") repeat-x scroll center bottom;
  padding-bottom: 120px;
  text-align: center;
}
h1 {
  font-size: 24.5px;
}
h2 {
  font-size: 24.5px;
}
h3 {
  font-size: 17.5px;
}
h1 small {
  font-size: 14px;
}
/* Custom container */
.container-narrow {
  margin: 0 auto;
  max-width: 700px;
}
/* Main members message and sign up button */
.jumbotron {
  background-color: #fff;
  text-align: center;
}
.logo {
  font-size: 17.5px;
  font-weight: bold;
  margin-top: 10px;
}
/* Supporting members content */
.member {
  margin-bottom: 18px;
}
.members {
  margin: 0px 0 50px 0;
}
.missions {
  margin: 0 0 25px 0;
}
.mission {
  margin: 0px 0 18px 0;
}
.col-sm-6, .col-sm-8 {
  padding-left: 0px;
}
#naist-logo {
  margin: 0 5px 10px 0;
  opacity:0.8;
  filter:alpha(opacity=80); /* For IE8 and earlier */
}